   .video-title{
font-weight: 700;
font-size: xx-large;
margin-top: 0px;
   }


   .channel-logo{
margin-top: 0px;
   }
   .video-thumbnail{
    width: 100%;
   }
   .search-bar{
      border-radius: 10px;
   }