   .video-title{
font-weight: 700;
font-size: xx-large;
margin-top: 0px;
   }


   .channel-logo{
margin-top: 0px;
   }
   .video-thumbnail{
    width: 100%;
   }
   .search-bar{
      border-radius: 10px;
   }
   .r-ps{
      padding: 15px;
      margin: 15px;
      background-color: aqua;
      font: 400;

   }
   .r-ps:hover{
      background-color: blue;
      color: aliceblue;
      font: 800;
   }